.search-bar{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 174px 24px 173px;
    gap: 20px;
}
.input-row{
    width: 100%;
    display: flex;
    padding: 18px 34px;
    gap: 13px;
    border-radius: 10px;
    border: 1px solid rgba(107, 114, 128, 1)
}
.input-row img{
    width: 24px;
}
.input-d{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
.left-part-search-bar{
    width: 106px;
    display: flex;
    align-content: center;
    padding: 12px;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid rgba(126, 131, 144, 1)
}
.search-btn{
     border: none;
     outline: none;
     background: transparent;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
}
.left-part-search-bar img{
    width: 24px;
}

/* part two (content-box) */

.content-box{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding:24px 214px 50px 215px;
}
.content-heading{
    width: 100%;
}
.content-heading h2{
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(0, 0, 0, 1);
}
.content-paragraph{
    width: 100%;
}
.content-paragraph p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(0, 0, 0, 1);
}


@media screen and (min-width:550px) and (max-width:850px) {
    .search-bar{
        padding: 10px 80px 24px 80px;

    }
}

@media screen and (min-width:315px) and (max-width:560px) {
    .search-bar{
        padding: 10px 80px 24px 20px;
        flex-direction: column;
    }
    .input-row{
        width: 100%;
        max-width: 500px;
        display: flex;
        padding: 12px 34px;
        gap: 13px;
        border-radius: 10px;
        border: 1px solid rgba(107, 114, 128, 1)
    }
    .input-d{
           /* width: 100%; */
           flex: 0;
    }
    .input-row img{
        width: 20px;
    }
    .left-part-search-bar{
        width: 100%;
        justify-content: center;
        margin-left: 23px;
        gap: 0;
    }
    .left-part-search-bar img{
        width: 20px;
    }
}



/* part two (content-box) */

@media screen and (min-width:850px) and (max-width:1050px) {
    .content-box{
        padding:24px 180px 50px 180px;
    }
    .content-heading h2{
        font-size: 28px;
        line-height: 38px;
    }
}
@media screen and (min-width:600px) and (max-width:850px) {
    .content-box{
        padding:24px 120px 50px 120px;
    }
    .content-heading h2{
        font-size: 28px;
        line-height: 38px;
        margin: 0;
    }
    .content-paragraph p{
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(0, 0, 0, 1);
        margin: 0;
    }
    
}

@media screen and (min-width:315px) and (max-width:600px) {
    .content-box{
        padding: 15px 25px 50px 25px;
    }
    .content-heading h2{
        font-size: 18px;
        line-height: 38px;
        margin: 0;
    }
    .content-paragraph p{
        font-size: 12px;
        margin: 0;
    }
    
}