.navbar-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.first-part {
  width: 100%;
  padding: 14px 0px 14px 34px;
}

.middle-part {
  width: 100%;
  padding-top: 14px;
}

.third-part {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
  height: 44px;
  padding: 14px 34px 14px 0px;
  transition: all 0.3s ease-in-out;
}

.navbar-icons img {
  width: 100%; /* Adjust icon size */
}

.menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 14px; /* Adjust top padding */
  right: 20px; /* Position on the right side */
  z-index: 1000; /* Ensure the toggle button is above other content */
}

.menu-toggle img {
  width: 30px; /* Adjust the size of the menu icon */
}




@media screen and (min-width:420px) and (max-width: 850px) {
    .first-part {
      display: none;
    }
  
    .middle-part {
      padding: 15px 0px 15px  34px;
    }
     .middle-part img{
        width: 80px;
     } 
    .third-part {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 100px;
      height: auto;
      padding: 10px 0px;
      position: fixed;
      right: -200px;
      top: 0;
      background: gray;
      transition: right 0.3s ease-in-out;
    }
  
    .third-part.open {
      right: 0;
      margin-top: 50px;
    }
  
    .navbar-icons {
      display: none; /* Hide icons by default on mobile */
    }
  
    .third-part.open .navbar-icons {
      display: block; /* Show icons when navbar is toggled */
    }
    .menu-toggle {
      display: block;
      padding-right: 20px;
      background: none;
      border: none;
    }
    .menu-toggle img{
        width: 30px;
    }
  }


  @media screen and (max-width:420px){
    .first-part {
      display: none;
    }
  
    .middle-part {
      padding: 15px 0px 15px  34px;
    }
     .middle-part img{
        width: 50px;
     } 
    .third-part {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 100px;
      height: auto;
      padding: 10px 0px;
      position: fixed;
      right: -200px;
      top: 0;
      background: gray;
      transition: right 0.3s ease-in-out;
    }
  
    .third-part.open {
      right: 0;
      margin-top: 50px;
    }
  
    .navbar-icons {
      display: none; /* Hide icons by default on mobile */
    }
  
    .third-part.open .navbar-icons {
      display: block; /* Show icons when navbar is toggled */
    }
    .menu-toggle {
      display: block;
      padding-right: 20px;
      background: none;
      border: none;
    }
    /* .menu-toggle img{
        width: 30px;
    } */
  }




