.navbar-section{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 34px 24px 34px;
}
.first-part{
  width: 100%;
}
/* .first-part img{
     width: 100%;
} */
.second-part{
  width: 100%;
}

.third-part{
  width: 100%;
  max-width: 203px;
  display: flex;
  justify-content: space-between;
}
.third-part img{
  margin: content-box;
  overflow: hidden;
  padding-left: 20px;
}

.toggle-button{
  display:none;
}

@media screen and (max-width: 600px) {
  .first-part {
    display: none;
  }

  .second-part img{
     width: 70px;
  }

  .third-part {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    width: 100px;
    top: 60px;
    right: 10px;
    padding: 10px ;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .third-part.open {
    display: flex;
  }

  .toggle-button {
    display: block;
  }
  .toggle-button img{
    width: 20px;
  }

  .third-part img {
    margin: 10px auto;
  }
}